<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta %}
    <meta name="description" content="Cooking Diary | {{ title }}" />
    <title>{{ title }} · {{ config.title }}</title>
  </head>
  <body>
    <div class="o-container">
      <div class="o-markdown">
        <h1>{{ title }}</h1>

        {{ content }}
      </div>

      {% include back %}
    </div>
  </body>
</html>
